body {
    background-color: black;
}

.main {
    background-color: white;
    margin-top: 110px;
    position: relative;
}

.main .ryu {
    float: left
}

.main .ryu-ready,
.main .ryu-still,
.main .ryu-throwing,
.main .ryu-cool {
    width: 659px;
    height: 494px;
    display: none;
    background-repeat: no-repeat;
}

.main .ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}

.main .ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.main .ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.main .ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.main .hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    position: relative;
    top: 167px;
    left: -212px;
    z-index: 10;
    float: left;
    display: none;
    background-repeat: no-repeat;
}

.main .how-to {
    color: red;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 4rem;
    margin-top: 6rem;
    position: absolute;
    right: 6rem;
    width: 600px;
    text-align: center;
}

.how-to p {
    width: 50%;
    color: black;
    font-size: 24px;
    margin-bottom: 2rem;
}

.how-to p + p {
    margin-left: 275px;
}
